<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.admin.dao.AdminMapper"> 

	<select id="selectList" parameterType="map" resultType="userVO">
		<!-- Join시켰을 때 탈퇴(누락)된 행도 보이도록 지정 -->
		SELECT
		*
		FROM (SELECT 
				a.*,
				rownum rnum
				FROM (SELECT
						*
						FROM ouser u LEFT OUTER JOIN ouser_detail d
						ON u.user_num = d.user_num
						<where>
							<if test = "keyword !='' and keyfield==1">	<!-- 관리자 -->
								u.auth = 4 and
								d.name LIKE '%' || #{keyword} || '%'
							</if>
							<if test = "keyword !='' and keyfield==2">	<!-- 강사 -->
								u.auth = 3 and
								d.name LIKE '%' || #{keyword} || '%'
							</if>
							<if test = "keyword !='' and keyfield==3">	<!-- 회원 -->
								u.auth = 2 and
								d.name LIKE '%' || #{keyword} || '%'
							</if>
							<if test = "keyword !='' and keyfield==4">	<!-- id -->
								u.id LIKE '%' || #{keyword} || '%'
							</if>
							<if test = "keyword !='' and keyfield==5">	<!-- 이름 -->
								d.name LIKE '%' || #{keyword} || '%'
							</if>
						</where>
						ORDER BY d.reg_date DESC)a)
					<![CDATA[WHERE rnum>= #{start} AND rnum <= #{end}]]>
	</select>
	
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM ouser u LEFT OUTER JOIN ouser_detail d
		ON u.user_num = d.user_num
			<where>
							<if test = "keyword !='' and keyfield==1">	<!-- 관리자 -->
								u.auth = 4 and
								d.name LIKE '%' || #{keyword} || '%'
							</if>
							<if test = "keyword !='' and keyfield==2">	<!-- 강사 -->
								u.auth = 3 and
								d.name LIKE '%' || #{keyword} || '%'
							</if>
							<if test = "keyword !='' and keyfield==3">	<!-- 회원 -->
								u.auth = 2 and
								d.name LIKE '%' || #{keyword} || '%'
							</if>
							<if test = "keyword !='' and keyfield==4">	<!-- id -->
								u.id LIKE '%' || #{keyword} || '%'
							</if>
							<if test = "keyword !='' and keyfield==5">	<!-- 이름 -->
								d.name LIKE '%' || #{keyword} || '%'
							</if>
						</where>
	</select>

</mapper>